<div class="container">
  <h1>Registrar una nueva bodega</h1>
  <form action="/nuevabodega" METHOD="POST">
    <div class="form-group">
      <label>Nombre de la bodega:</label>
      <input type="text" class="form-control" placeholder="Bodega" name="nombre">
    </div>
    <div class="form-group">
      <label>Dirección de la bodega:</label>
      <input type="text" class="form-control" placeholder="Dirección" name="direccion">
    </div>
    <div class="form-group">
      <label>Capacidad de la bodega (en toneladas):</label>
      <input type="number" class="form-control" min="0" name="capacidadEnToneladas">
    </div>
    <button type="submit" class="btn btn-block btn-success">Registrar Bodega</button>
  </form>
</div>
